# .gitignore

*.o
*.a
*.d

*.axf
*.hex
*.bin

#Cubemx
*.mxproject
*.scratch

#EWARM
*.ewd
*.ewt
*.dep
settings/
Exe/
Obj/
List/

#Drivers/CMSIS
DSP_Lib/
RTOS/

#MDK-ARM
RTE/
*Configuration/
DebugConfig/
*.uvguix.*
*.uvoptx
*.lst

#SW4STM32
.metadata/
RemoteSystemsTempFiles/

_si/
.vscode/
build/
